table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-left: 1px solid gray;
}

th {
  border-bottom: 1px solid gray;
}

td:first-child, th:first-child {
  border-left: none;
 }

 td:last-child, th:last-child {
  border-right: none;
 }

tr:nth-child(even) {
  background-color: lightgray;
}